.study-dashboard {
  display: flex;
}

.study-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 32px;
}

.study-actions button {
  border: none;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #fff
}

.share-button,
.edit-button {
  color: #578246;
}

.delete-button {
  color: #818181;
}

.divider {
  font-size: 16px;
  color: #578246;
}
햣