/* src/style/Study.css */
.study-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.study-list {
  margin-top: 20px;
}

.study-item {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.study-item h3 {
  margin: 0;
}

.study-item button {
  margin-right: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
}

/* 수정하기 */
.edit-button {
  background-color: #578246;
  color: white;
  font-size: 16px
}

/* 삭제하기 버튼 */
.delete-button {
  background-color: #818181;
  color: white;
  font-size: 16px
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content input,
.modal-content textarea {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.save-button {
  background-color: #99C08E;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.close-button {
  background-color:white;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}