/* StudyListPage.css */
* {
  box-sizing: border-box;
  font-family: pretendard;
}

body {
  background-color: #f6f4ef;
  margin: 0;
  padding: 0;
}

.study-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f4ef;
}

.frame {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 40px;
}

.browse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.browse-studies {
  width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 40px;
  min-height: 250px;
}

.search-sort {
  display: flex;
  align-items: center;
}

.search-sort input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
}

.search-sort select {
  margin-left: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.study-list {
  display: flex;
  gap: 26px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.study-card {
  width: 358px;
  height: 243px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  color: #414141;
}

.study-card.image-background {
  color: white;
}

.study-card:hover {
  transform: translateY(-5px);
}

.study-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.study-progress {
  font-size: 14px;
  color: #414141;
}

.study-description {
  margin: 10px 0;
  font-size: 14px;
}

.study-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.study-icons {
  display: flex;
  gap: 10px;
}

.study-icons span {
  display: flex;
  align-items: center;
  gap: 4px;
}

.study-points {
  background-color: #99c08e;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.load-more {
  width: 280px;
  height: 53px;
  background-color: #ffffff;
  color: #578246;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #dddddd;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.load-more:hover {
  background-color: #f0f0f0;
  border: 1px solid #4caf50;
}

.recent-studies {
  width: 100%;
  max-width: 1200px;
  height: 382px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 40px;
  position: relative;
}

.empty-studies-message {
  font-size: 20px;
  font-weight: 500;
  color: #818181;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 743px) {
  .study-list-page {
    padding-top: 20px;
  }

  .study-list {
    flex-direction: column;
    gap: 15px;
  }

  .study-card {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}
